.add-goods {
  position: relative;
  margin-top: 41px;
  border-top: 2px solid @green-basic;
}

.add-goods__container-title {
  padding-top: 20px;
  padding-bottom: 31px;
  border-bottom: 1px solid @grey-cd;
}

.add-goods__title {
  position: absolute;
  top: -22px;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  background-color: @white;
}
