.addition-card {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid @grey-cd;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 28px 38px;
    border: 1px solid @grey-cd;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 0;
    grid-template-columns: 300px 1fr 1fr;
    align-items: center;
    border: none;
    border-top: 1px solid @grey-cd;
    border-bottom: 1px solid @grey-cd;
  }
}

.addition-card__title {
  padding-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  color: @grey-22;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.addition-card__specification-list {
  .specification-columns2();
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  color: @grey-44;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 95px;
    font-size: @font-size-second;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin-right: 40px;
    padding-bottom: 0;
  }
}

.addition-card__value {
  margin: 0;
  text-align: right;
}

.addition-card__order-button {
  font-size: @font-size-second;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / -1";
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"3 / -1";
  }
}
