.addition-card {
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid @grey-cd;

  &:first-child {
    border-top: 1px solid @grey-cd;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 26px;
    padding-bottom: 29px;
    padding-left: 38px;
    padding-right: 38px;
    border-left: 1px solid @grey-cd;
    border-right: 1px solid @grey-cd;
  }

  @media (min-width: @desktop-width) {
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 1fr 1fr 245px;
    align-items: baseline;
    border-left: none;
    border-right: none;
  }
}

.addition-card__title {
  padding-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  color: @grey-22;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-bottom: 23px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.addition-card__specification-list {
  .specification-columns2();
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  color: @grey-44;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 93px;
    padding-bottom: 13px;
    font-size: @font-size-second;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    margin-right: 40px;
    padding-bottom: 0;
  }
}

.addition-card__description {
  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.addition-card__value {
  margin: 0;
  text-align: right;
}

.addition-card__order-button {
  font-size: @font-size-second;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    grid-column: ~"1 / -1";
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"3 / -1";
  }
}
