.addition-card {
  padding-top: 13px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid @grey-cd;
}

.addition-card__title {
  padding-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  color: @grey-22;
  text-transform: uppercase;
}

.addition-card__specification-list {
  .specification-columns2();
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  color: @grey-44;
}

.addition-card__value {
  margin: 0;
  text-align: right;
}
