.card-feed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-left: calc(var(--content-padding-mobile) * -1);
  margin-right: calc(var(--content-padding-mobile) * -1);
  padding-left: var(--content-padding-mobile);
  padding-right: var(--content-padding-mobile);
  padding-bottom: 24px;
  border-bottom: 1px solid @grey-eb;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr min-content;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 39px;
    padding-right: 37px;
    background: linear-gradient(to top, @grey-f2 430px, transparent 430px);
  }
}

.card-feed__order-button {
  grid-column: ~"1 / -1";
  font-size: @font-size-second;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-feed__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  overflow: hidden;
}

.card-feed__container-text {
  padding-top: 20px;
  padding-bottom: 8px;
}

.card-feed__link-title {
  display: block;
  min-width: 76px;
  padding-right: 50px;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: @grey-22;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding-right: 0;
    width: 150px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
  }
}

.card-feed__specification-list {
  @media (min-width: @tablet-width) {
    margin-top: 14px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.card-feed__specification-item {
  .specification-columns2();
  font-size: 12px;
  line-height: 16px;
  color: @grey-44;

  @media (min-width: @tablet-width) {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: @font-size-second;
    line-height: 14px;;
    border-bottom: 1px solid @grey-cd;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.card-feed__value {
  margin: 0;
  text-align: right;
}
