.catalog-feed {
  // border-top: 1px solid @grey-eb;
  // border-bottom: 1px solid @grey-eb;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.catalog-feed__container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 82px;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 85px;
  }
}
