.contacts--inner {
  background-color: @grey-f2;
}

.contacts__container {
  display: flex;
  justify-content: flex-start;
  padding: 26px 20px;
  outline: 1px solid #ffbb00;
}

.contacts__call {
  display: inline-block;
  width: 138px;
  margin: 0;
  font-family: @font-family-second;
  font-size: 16px;
  line-height: 20px;
  color: @grey-11;
  text-transform: uppercase;
}

.contacts__adress {
  display: inline-block;
  width: 138px;
  margin: 0;
  line-height: 20px;
  color: @grey-44;
}
