.feed-feature {
  padding: 20px 21px;
}

.feed-feature__title {
  margin-bottom: 40px;
  font-family: @font-family-second;
  font-size: 36px;
  line-height: 40px;
}

.feed-feature__item {
  margin-bottom: 20px;
  color: @special-dark-grey;
}

