.feed-feature {
  padding-bottom: 20px;
  padding-left: 21px;
  padding-right: 21px;
  outline: 3px solid #bb00ff;

  @media (min-width: @tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
    padding-top: 50px;
  }
}

.feed-feature__title {
  padding-bottom: 40px;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.feed-feature__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 37px 153px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.feed-feature__item {
  margin-bottom: 26px;
  padding-left: 80px;
  color: @grey-44;

  @media (min-width: @tablet-width) {
    padding-top: 151px;
    padding-bottom: 37px;
    padding-left: 0;
    padding-right: 5px;
  }
}

.feed-feature__description {
  margin: 0;
}

