.form-program__fieldset {
  font-family: @font-family-second;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: @white;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-program__content-container {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.form-program__fieldset-container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 80px;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 68px;
  }
}

.form-program__submit-container {
  margin-top: 33px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
  }
}

.form-program__button-submit {
  width: 100%;
  margin: auto;
  margin-bottom: 19px;
  font-size: @font-size-second;
  line-height: 20px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 282px;
    margin: 0;
    margin-right: 60px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-right: 80px;
  }
}

.form-program__note {
  margin: 0;
  line-height: 16px;
  text-align: center;
}
