.form-field__label {
  margin-right: 14px;
  white-space: nowrap;
  color: @grey-44;

  @media (min-width: @tablet-width) {
    margin-right: 21px;
  }
}

.form-field__label--radio {
  margin-right: 0;
  color: @grey-22;
}

.form-field__label--check {
  color: @black;

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.form-field__input {
  width: 100%;
  padding: 12px 14px;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: @grey-44;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid @grey-e7;
  border-radius: unset;

  &:hover {
    border: 1px solid @grey-cd;
  }

  &:focus {
    border: 2px solid @grey-44;
  }

  &:invalid {
    border: 2px solid @red;
  }
}

.form-field__textarea {
  min-height: 150px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    min-height: 174px;
    padding-left: 19px;
  }
}

.form-field__radio-mark {
  width: 30px;
  height: 30px;
  margin-right: 13px;
  border: 1px solid @grey-cd;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}

.form-field__radio:checked + .form-field__radio-mark {
  background-color: @green-basic;
  box-shadow: inset 0 0 0 8px @white;

  @media (min-width: @tablet-width) {
    box-shadow: inset 0 0 0 11px @white;
  }
}

.form-field--radio,
.form-field--checkbox {
  cursor: pointer;
}

.form-field--radio:hover > .form-field__radio-mark,
.form-field--checkbox:hover > .form-field__check-mark {
  border: 1px solid @grey-ba;
}

.form-field--radio:active,
.form-field--checkbox:active {
  opacity: 0.3;
}


.form-field__check-mark {
  width: 30px;
  height: 30px;
  margin-right: 14px;
  border: 1px solid @grey-cd;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 18px;
  }
}

.form-field__checkbox:checked + .form-field__check-mark {
  background-image: url("../img/icons/check-green.svg");
  background-position: 50% 50%;
  background-size: 18px 14px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-size: 24px 19px;
  }
}
