.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form-fieldset__container--input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form-fieldset--radio {
  margin-bottom: 27px;
  margin-left: calc(var(--content-padding-mobile) * -1);
  margin-right: calc(var(--content-padding-mobile) * -1);
  padding-left: var(--content-padding-mobile);
  padding-right: var(--content-padding-mobile);
  border-top: 1px solid @grey-d9;
  border-bottom: 1px solid @grey-d9;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-fieldset__container--radio {
  padding-top: 22px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form-fieldset__container--input-contacts {
  @media (min-width: @tablet-width) {
    margin-top: 27px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form-fieldset__container--comment {
  margin-top: 2px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-top: 28px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }
}

.form-fieldset__container--checkbox {
  margin-top: -2px;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
    margin-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
  }
}

.form-fieldset__field {
  display: flex;
  align-items: center;
}

.form-fieldset__title {
  position: relative;
  max-width: 190px;
  margin-left: -9px;
  margin-bottom: 35px;
  padding-left: 9px;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  z-index: 0;

  @media (min-width: @tablet-width) {
    max-width: none;
    margin-bottom: 47px;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -20px;
    right: -20px;
    height: 110%;
    transform: translateY(-50%);
    background-color: @white;
    z-index: -1;

    @media (min-width: @tablet-width) {
      left: -40px;
      right: -40px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0.67em;
    left: ~"calc((50vw - var(--content-width-mobile) / 2) * -1)";
    width: 100vw;
    height: 2px;
    transform: translateY(-50%);
    background-color: @green-basic;
    z-index: -2;

    @media (min-width: @tablet-width) {
      left: ~"calc((50vw - var(--content-width-tablet) / 2) * -1 - 40px)";
    }

    @media (min-width: @desktop-width) {
      left: ~"calc((50vw - var(--content-width-desktop) / 2) * -1)";
    }
  }
}

.form-fieldset__list {
  .list-reset();
  box-sizing: border-box;
}

.form-fieldset__list--radio {
  @media (min-width: @tablet-width) {
    padding: 23px 27px;
    border: 1px solid @grey-e7;
    box-sizing: border-box;
  }
}

.form-fieldset__list--checkbox {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.form-fieldset__item {
  margin-bottom: 10px;
}

.form-fieldset__item:last-child {
  margin-bottom: 0;
}

.form-fieldset__item-checkbox {
  min-width: 221px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
