.form-fieldset {
  padding-top: 25px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-bottom: 1px solid @grey-d9;
}

.form-fieldset--bordertop {
  position: relative;
  margin-top: 20px;
  padding-top: 45px;
  padding-bottom: 20px;
  border-top: 2px solid @green-basic;
  border-bottom: none;
}

.form-fieldset--big-margintop {
  margin-top: 44px;
}

.form-fieldset--big-paddingtop {
  padding-top: 70px;
}


.form-fieldset__title {
  position: absolute;
  top: -17px;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: inherit;
}

.form-fieldset__list {
  .list-reset();
}

.form-fieldset__item {
  position: relative;
  padding-left: 45px;
  padding-bottom: 25px;
}
