.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__logo {
  display: inline-block;
}

.page-header__nav-toggle {
  display: inline-block;
  background-color: @white;
  border: none;
}
