.page-header__logo {
  display: inline-block;
}

.page-header__nav-toggle {
  display: inline-block;
  background-color: @white;
  border: none;
}

.site-nav__list {
  .list-reset();
  border-top: 1px solid @grey-lighten;
  outline: 1px solid #ffbb00;
}

.site-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-bottom: 1px solid @grey-lighten;
}

.site-nav__link {
  font-family: @font-family-second;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @font-color-base;
  text-transform: uppercase;
  text-decoration: none;
}
