.page-footer__contacts {
  outline: 1px solid #ffbb00;
}

.contacts__container {
  display: flex;
  justify-content: flex-start;
  padding: 26px 20px;
}

.contacts__call {
  display: inline-block;
  width: 138px;
  margin: 0;
  font-family: @font-family-second;
  font-size: 16px;
  line-height: 20px;
  color: @grey-darkest;
  text-transform: uppercase;
}

.contacts__adress {
  display: inline-block;
  width: 138px;
  margin: 0;
  line-height: 20px;
  color: special-dark-grey;
}

.page-footer__reference {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: @grey-basic;
}

.ref__logo-name {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid @grey-85;
}

.ref__social {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid @grey-85;
}

.social__list {
  display: flex;
  justify-content: center;
  .list-reset();
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 19px;
  color: @special-dark-grey;
  text-decoration: none;
}
