.page-body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: @mobile-width;
  min-height: 100%;
  font-family: @font-family-base;
  font-style: @font-style-base;
  font-weight: @font-weight-base;
  font-size: @font-size-base;
  line-height: @line-height-base;

  color: @font-color-base;
  background-color: @bg-color-body;
}
