.promo {
  padding: 27px 0;
  padding-bottom: 20px;
  font-family: @font-family-second;
  color: @white;
  text-align: center;
  background-image: url("../img/bg-promo-mobile.jpg"), linear-gradient(to bottom, @green-special 302px, transparent 302px);
  background-size: image-size("../img/bg-promo-mobile.jpg"), 100%;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
    background: none;
  }
}

.promo__content-container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 87px 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 80px calc(50% - 80px) 50%;
    padding-left: 0;
  }
}

.promo__title {
  padding-bottom: 25px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    grid-column: ~"2 / -1";
    width: 430px;
    padding-top: 51px;
    padding-bottom: 43px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    padding-top: 102px;
  }
}

.promo__slogan {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    grid-column: ~"2 / -1";
    grid-row-start: 2;
    margin-bottom: 25px;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    grid-column: ~"1 / -1";
    grid-row: ~"3 / 5";
    margin: 0 auto;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    display: block;
    grid-column: ~"3 / 4";
    grid-row: ~"1 / 5";
    width: 552px;
    height: 499px;
    padding-top: 25px;
    padding-bottom: 50px;
    transform: translateX(-30%);
    z-index: 1;
  }
}

.promo__program-choose {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    grid-column: ~"2 / 3";
    grid-row-start: 3;
    width: 244px;
    margin-top: 25px;
    margin-left: 0;
    padding: 18px 26px;
    font-size: 20px;
  }

  &:hover {
    background-color: @green-states;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: @green-states;
  }
}
