.promo {
  padding-top: 27px;
  font-family: @font-family-second;
  color: @white;
  text-align: center;
  background: linear-gradient(to bottom, @green-basic 301px, transparent 301px);
  background-image: url("../../img/bg-promo.ipg");
  background-repeat: no-repeat;
  outline: 1px solid #ffbb00;
}

.promo__title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  line-height: 14px;
}

.promo__program-choose {
  width: 280px;
  margin: 0 auto;
}
