.promo {
  padding: 27px 0;
  font-family: @font-family-second;
  color: @white;
  text-align: center;
  background-image: url("../img/bg-promo-mobile.jpg"), linear-gradient(to bottom, @green-special 302px, transparent 302px);
  background-size: image-size("../img/bg-promo-mobile.jpg"), 100%;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background: none;
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }
}

.promo__content-container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.promo__title {
  padding-bottom: 25px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    width: 430px;
    margin-left: 87px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    padding-top: 114px;
  }
}

.promo__slogan {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-left: 87px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    grid-column: ~"1 / -1";
    grid-row: ~"3 / 5";
    margin: 0 auto;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    display: block;
    grid-column: ~"2 / 3";
    grid-row: ~"1 / 5";
    width: 552px;
    height: 499px;
    transform: translateX(-39%);
    z-index: 1;
  }
}

.promo__program-choose {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 244px;
    margin-top: 20px;
    margin-left: 87px;
    padding: 14px 26px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}
