.reference__container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: @grey-f2;
  outline: 1px solid #ffbb00;
}

.reference__logo-name {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid @grey-d9;
}

.reference__social {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid @grey-d9;
}

.reference__copyright {
  padding-top: 28px;
  padding-bottom: 32px;
  text-decoration: none;
}
