.rewiew {
  padding: 25px 20px;
  background-color: @grey-92;
  outline: 1px solid #ffbb00;
}

.rewiew__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: @font-family-second;
  font-weight: @font-weight-base;
  font-size: 36px;
  line-height: 40px;
}

.rewiew__history {
  margin-bottom: 20px;
  color: @special-dark-grey;
}

.rewiew__list {
  display: flex;
  justify-content: space-between;
  .list-reset();
  margin-bottom: 34px;
}

.rewiew__item {
  position: relative;
  width: 124px;
  height: 56px;
  padding-top: 15px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid @special-grey;
  border-radius: 3px;
}

.rewiew__value {
  font-family: @font-family-second;
  font-size: 24px;
  line-height: 24px;
}

.rewiew__description {
  position: absolute;
  right: 20px;
  padding: 5px 14px;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
  background-color: @grey-92;
}

.rewiew__price {
  font-family: @font-family-second;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.rewiew__gallery {
  padding-top: 15px;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  padding: 15px 55px;
}

.slider__toggle {
  font-family: @font-family-second;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
}
