.rewiew {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: @grey-ea;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 0;
    background: linear-gradient(to bottom, @white, @white 580px, @grey-ea 580px);
    border-top: 1px solid @grey-e6;
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, @white, @white 220px, @grey-f2 220px);
    border: none;
  }
}

.rewiew__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 190px;
  }
}

.rewiew__gallery {
  padding-top: 15px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 60px;
  }
}
