.site-nav__list {
  .list-reset();
  border-top: 1px solid @grey-e6;
  outline: 1px solid #ffbb00;
}

.site-nav__item {
  padding-top: 20px;
  padding-bottom: 22px;
  text-align: center;
  border-bottom: 1px solid @grey-e6;
}

.site-nav__link {
  font-family: @font-family-second;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @font-color-base;
  text-transform: uppercase;
  text-decoration: none;
}
