.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 33px;

  @media (min-width: @tablet-width) {
    margin-top: 14px;
    padding: 15px 67px;
  }

  @media (min-width: @desktop-width) {
    width: 583px;
    margin-top: 4px;
    padding-left: 9px;
  }
}

.slider__toggle {
  font-family: @font-family-second;
  font-size: 16px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
  background-color: inherit;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &-text {
      border-bottom: 1px dotted fade(@black, 24%);
    }

    &:hover &-text {
      border-bottom: 1px solid fade(@black, 40%);
    }

    &:active &-text {
      border-bottom: none;
    }
  }
}

.slider__range {
  @media (min-width: @tablet-width) {
    width: 426px;
    height: 6px;
    background-color: @grey-dc;
    border-radius: 6px;
  }
}
