.slider {
  display: flex;
  justify-content: space-between;
  padding: 15px 55px;
}

.slider__toggle {
  font-family: @font-family-second;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
}
