.page-container {
  margin: 0 auto;
  width: @mobile-width;
  padding-left: var(--content-padding-mobile);
  padding-right: var(--content-padding-mobile);
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding-left: var(--content-padding-tablet);
    padding-right: var(--content-padding-tablet);
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding-left: var(--content-padding-desktop);
    padding-right: var(--content-padding-desktop);
  }
}
